:root {
    --primary: #2f4f4f; /* カラーラベル */
    --accent: #e8956f;
    --light-bg: #faf9f7;
    --grid-color:#f3f3f3;
}

body {
    white-space: pre-wrap; /*改行*/
    background-color: var(--light-bg);
    background-image: 
        linear-gradient(var(--grid-color) 2px, transparent 2px),
        linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
    background-size: 20px 20px; /* グリッドの細かさ */
    text-align:center;
    color: var(--primary);
    font-family: "Noto Sans JP", sans-serif;
}

h1 {
    margin-bottom: -35px; 
    line-height: 2;
}

h2 {
    font-size: 20px;
    margin-bottom: -15px; 
    line-height: 1;
}

a {
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
    margin-top: 0px;
    color: var(--primary);
    text-decoration: none;
    transition: color 0.3s; /*色がふわっと変わる*/
}
/*画像ホバーの色変え */
a img:hover {
    transition: opacity 0.3s, opacity 0.3s;
}
/*テキストホバーの色変え */
a:hover {
    color: #DDDDDD;
    text-decoration: underline;
}

.main {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    box-sizing: border-box; 
}

.main img {
    max-width: 100%;
    height: auto;
    width: 450px; height: 250px; object-fit: cover; /*サイズ固定 */
}

/*画像ホバーの色変え */
a img:hover {
    transition: opacity 0.3s, opacity 0.3s;
} 
/*スマホ表示 */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px; 
        line-height: 1; 
        word-break: break-all; 
        margin-bottom: -25px; 
    }

    h2 {
    font-size: 16px;
    margin-bottom: -15px; 
    line-height: 1;
}
    a {
    font-size: 12px;
    }

.main img {
    max-width: 100%;
    height: auto;
    width: 450px; height: 200px; object-fit: cover;
}
    }